<div id="<%= dom_id teacher %>">
  <p>
    <strong>Name:</strong>
    <%= teacher.name %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= teacher.bio %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= teacher.nickname %>
  </p>

</div>
